[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
django-redis = "*"
gunicorn = "*"

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"

[requires]
python_version = "3.6"
